{#
/**
 * @file
 * News Vertical Teaser.
 *
 * Vertical Teaser for News
 *
 * Available variables:
 * - attributes: For additional HTML attributes not already provided.
 * - news_vertical_teaser_image: Hero image for card
 * - news_vertical_teaser_headline: Title of card
 * - news_topics: Topic selected. Dynamically altered vi news-banner.js
 * - news_source: The source field.
 * - news_url: A url to wrap the image and heading with
 */
#}

{%-
  set classes = [
    'su-card',
    'su-news-vertical-teaser',
    modifier_class
  ]
-%}

{%- set news_url_link_type = "su-link--action" -%}

{# If the news source url is set go there instead of the default. #}
{%- if news_source|render|striptags("<drupal-render-placeholder>")|trim is not empty -%}
  {%- set news_url = news_source -%}
  {%- set classes = classes|merge(['su-news-external']) -%}
  {%- set news_url_link_type = "su-link--external" -%}
{%- endif %}

{%- if news_url_attributes is empty -%}
  {% set news_url_attributes = create_attribute() -%}
{%- endif -%}

{% set news_url = news_url|render|striptags("<drupal-render-placeholder>")|trim %}

<article{{ attributes.addClass(classes) }}>
  {%- if news_url is not empty -%}
    <a {{ news_url_attributes.addClass('su-news-vertical-teaser__link') }} href="{{ news_url }}">
  {%- endif -%}
  <figure class="su-media su-media--image su-card__media">
    <div class="su-media__wrapper">
      {{- news_vertical_teaser_image -}}
    </div>
  </figure>
  <div class="su-news-header">
    <h2 class="su-link su-card__link {{ news_url_link_type }}">
      {{- news_vertical_teaser_headline -}}
    </h2>
  </div>
  {%- if news_url is not empty -%}
    </a>
  {%- endif -%}
  <div class="su-card__contents">
    <div class="news-vertical-teaser__topics">{{ news_topics }}</div>
  </div>
  {%- if news_footer is not empty -%}
    <div class="news-vertical-teaser__footer">{{ news_footer }}</div>
  {%- endif -%}
</article>
