{% set left = content.left|render_clean %}
{% set main = content.main|render_clean %}
{% set right = content.right|render_clean %}

{% set main_class = '' %}
{% if left and right %}
  {% set main_class = 'w-6/12' %}
{% elseif left or right %}
  {% set main_class = 'w-9/12' %}
{% endif %}

<div class="flex flex-col md:flex-row {{ settings.centered ? 'cc' : '' }}">

  {% if left %}
    <div {{ region_attributes.left.addClass('w-3/12') }}>
      {{ content.left }}
    </div>
  {% endif %}

  {% if main %}
    <div {{ region_attributes.main.addClass(main_class) }}>
      {{ content.main }}
    </div>
  {% endif %}

  {% if right %}
    <div {{ region_attributes.right.addClass('w-3/12') }}>
      {{ content.right }}
    </div>
  {% endif %}
</div>
