<div{{ attributes.addClass('su-opportunity-result') }}>
  <div class="flex-container su-card__contents">
    <div class="{% if image|render|striptags('<drupal-render-placeholder> <img> <picture> <source>')|trim  %}flex-9-of-12{% endif %}">
      <div class="su-opportunity-type">
        <div  aria-label="{{ 'Opportunity Type'|t }}">
          {{ type_list }}
        </div>
      </div>
      <h3>
        {{ title }}
      </h3>

      <div class="su-opportunity-body-content">
        {% if application_deadline|render %}
          <div class="su-opportunity-row-application-deadline">
            <div>
              <h4>{{ 'Application Deadline'|t }}:</h4>
              <div>{{ application_deadline }}</div>
            </div>
          </div>
        {% endif %}
        {% if location|render %}
          <div class="su-opportunity-row-location">
            <div>
              <h4>{{ 'Location'|t }}:</h4>
              <div>{{ location }}</div>
            </div>
          </div>
        {% endif %}
        {% if when|render %}
          <div class="su-opportunity-row-duration">
            <div>
              <h4>{{ 'When'|t }}:</h4>
              <div>{{ when }}</div>
            </div>
          </div>
        {% endif %}
        {% if open_to|render %}
          <div class="su-opportunity-row-open-to">
            <div>
              <h4>{{ 'Open to'|t }}:</h4>
              <div>{{ open_to }}</div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>

    {% if image %}
      <div class="flex-3-of-12">
        <div class="su-opportunity-img">
          {{ image|render|striptags('<drupal-render-placeholder> <img> <picture> <source>')|raw }}
        </div>
      </div>
    {% endif %}
  </div>
  {{ favorite }}
</div>
