<div{{ attributes.addClass('flex-container') }}>
  <div class="flex-9-of-12">
    <div>
      {{ type_list }}
    </div>
    <h2>
      {{ title }}
    </h2>
    <div class="flex-container">
      <div>
        {{ location }}
      </div>
      <div>
        {{ when }}
      </div>
      <div>
        {{ open_to }}
      </div>
    </div>
  </div>
  <div class="flex-3-of-12">
    {{ image }}
  </div>
</div>
