<div{{ attributes.addClass('su-opportunity-result') }}>
  <div class="flex-container su-card__contents">
    <div class="{% if image %}flex-8-of-12{% endif %}">
      <div class="su-opportunity-type">
        <div>
          {{ type_list }}
        </div>
      </div>
      <h2>
        {{ title }}
      </h2>

      <div class="su-opportunity-body-content">
        {% if location %}
          <div class="su-opportunity-row-location">
            <div>
              <h3>{{ 'Location'|t }}:</h3>
              <p>{{ location }}</p>
            </div>
          </div>
        {% endif %}
        {% if when %}
          <div class="su-opportunity-row-duration">
            <div>
              <h3>{{ 'When'|t }}:</h3>
              <p>{{ when }}</p>
            </div>
          </div>
        {% endif %}
        {% if open_to %}
          <div class="su-opportunity-row-open-to">
            <div>
              <h3>{{ 'Open to'|t }}:</h3>
              <p>{{ open_to }}</p>
            </div>
          </div>
        {% endif %}
      </div>
    </div>

    {% if image %}
      <div class="flex-4-of-12">
        <div class="su-opportunity-img">
          {{ image }}
        </div>
      </div>
    {% endif %}
  </div>
</div>
