{#
/**
 * @file
 * News Banner.
 *
 * Basic Page Banner for news.
 *
 * Available variables:
 * - attributes: For additional HTML attributes not already provided.
 * - news_list_image: The list image.
 * - news_list_publishing_date: This is the published date.
 * - news_list_headline: This is the headline.
 * - news_list_dek: This is the dek specific to news items.
 * - news_list_topics: Associated terms from the topics taxonomy.
 * - news_source: The source field.
 * - news_url: A url to wrap the image and heading with
 */
#}
{%- set attributes = attributes.addClass(['su-news-article', modifier_class]) -%}

{# If the news source url is set go there instead of the default. #}
{%- if news_source|render|striptags("<drupal-render-placeholder>")|trim is not empty -%}
  {%- set news_url = news_source -%}
  {%- set attributes = attributes.addClass('su-news-external') -%}
{%- endif %}

{% set news_url = news_url|render|striptags("<drupal-render-placeholder>")|trim %}

{# Unique id for the title for A11y labels #}
{% set headline = news_list_headline|render_clean %}
{% if headline is not empty %}
  {% set headingID = getUniqueId(headline|render) %}
{% endif %}

{# If the news image is empty, create a class. #}
{%- if news_list_image|render|striptags('<drupal-render-placeholder><img><picture>')|trim is empty -%}
  {%- set attributes = attributes.addClass('su-news-list-image__empty')  -%}
{%- endif %}

<article{{ attributes }} {% if headingID %}aria-labelledby="{{ headingID }}"{% endif %}>

  {# News List Headline & Media #}
  {%- block block_news_list_headline  %}
    {# Wrapper for the top grid layout #}
    <header class="su-news-list__header">
      <div class="su-news-list__headline-dek">
        {# Link for headline h2 #}
        {%- if news_url is not empty -%}
          <a {{ news_url_attributes }} href="{{ news_url }}">
        {%- endif -%}

        {% if news_list_headline|render_clean %}
          <h2 id="{{ headingID }}">
            {{- news_list_headline -}}
          </h2>
        {% endif %}

        {%- if news_url is not empty -%}
        </a>
        {%- endif -%}

        {# News List Dek #}
        {% if news_list_dek|render|striptags('<drupal-render-placeholder>')|trim is not empty %}
          <p class="su-news-list__dek">{{ news_list_dek|render_clean }}</p>
        {% endif %}
      </div>

    {# Add the image and link only if they both exist. #}
    {% if news_list_image|render|striptags('<drupal-render-placeholder><img><picture>')|trim is not empty -%}
      {%- if news_url is not empty -%}
        <a {{ news_url_attributes }} href="{{ news_url }}" aria-hidden="true" tabindex="-1">
      {%- endif -%}
        {{- news_list_image -}}
      {%- if news_url is not empty -%}
        </a>
      {%- endif -%}
    {%- endif -%}

    {# News List Date #}
    {%- block block_news_list_date %}
      {# Since CSS Grid is used, always render an element even if it's empty. #}
      <div class="su-news-list__item-date">
        {% if news_list_publishing_date|render|striptags('<drupal-render-placeholder>')|trim is not empty %}
          <p>{{ news_list_publishing_date|render_clean }}</p>
        {% endif -%}
      </div>
    {% endblock -%}

    </header>
  {% endblock -%}

  {# News List Topics #}
  {%- block block_news_list_topics  %}
    {%- if news_list_topics|render|striptags('<drupal-render-placeholder>')|trim is not empty %}
      <div class="su-news-list__topics">
        {{- news_list_topics -}}
      </div>
    {% endif -%}
  {% endblock -%}

  {%- if news_list_footer|render|striptags('<drupal-render-placeholder>')|trim is not empty -%}
    {{ news_list_footer }}
  {%- endif -%}
</article>
