<div>
  <div class="pub-date">
    {{ news_list_publishing_date }}
  </div>
  <div class="headline">
    {{ news_list_headline }}
  </div>
  <div class="dek">
    {{ news_list_dek }}
  </div>
  <div class="topics">
    {{ news_list_topics }}
  </div>
  <div class="source">
    {{ news_source }}
  </div>
  <div class="url">
    {{ news_url }}
  </div>
  <div class="footer">
    {{ news_list_footer }}
  </div>
  <div class="image">
    {{ news_list_image }}
  </div>
</div>
